<html>
  <head>
    <title>Open School Data API</title>
  </head>
  <body>
    <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true).render(t('pages.index')).html_safe %>
  </body>
</html>
